---
import type { Project } from "@/constants/projects";
import ProjectLinks from "./ProjectLinks";
import { TypographyAnchor } from "@/components/ui/typography";
import { Image } from "astro:assets";

interface Props {
  project: Project;
}

const {
  project: { title, description, img, url, action, sourceUrl },
} = Astro.props;
---

<div class="flex flex-col gap-3">
  <div class="overflow-hidden rounded-md aspect-video md:aspect-[24/9]">
    <Image src={img} alt={title} class="object-cover h-full w-full" />
  </div>
  <TypographyAnchor href={url ?? sourceUrl}>{title}</TypographyAnchor>
  <p>{description}</p>
  <ProjectLinks url={url} action={action} sourceUrl={sourceUrl} />
</div>
